body {
  background-color: aliceblue;
  width: 27.5rem;
  min-height: 17.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}
h1 {
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}
h1 img {
  height: 2rem;
  width: 2rem;
}

.getTitleButton {
  background-color: rgb(5, 139, 248);
  border: none;
  color: #fdfdff;
  padding: 0.75rem 2.5rem;
  border-radius: 2.5rem;
  font-weight: 500;
  transition: all 200ms ease-in;
  cursor: pointer;
  font-size: 0.9rem;
  user-select: none;
}

.getTitleButton:hover {
  background-color: rgb(0, 121, 228);
}

.getTitleButton:active {
  scale: 0.95;
}

.tabTitle {
  min-width: 90%;
  height: 100%;
  background-color: #fdfdff;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 0.9rem;
}
.tabTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.copyButton {
  background-color: rgb(5, 139, 248);
  border: none;
  color: #fdfdff;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  font-weight: 500;
  transition: all 200ms ease-in;
  cursor: pointer;
  font-size: 0.75rem;
  user-select: none;
}
.copyButton:disabled {
  pointer-events: none;
  opacity: 0.85;
}

.copyButton:hover {
  background-color: rgb(0, 121, 228);
}

.copyButton:active {
  scale: 0.9;
}

.hidden {
  display: none;
}
a {
  color: rgb(0, 121, 228);
  text-decoration: none;
  font-weight: 500;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
